.status {
  border-radius: 24px;
  display: inline-flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  width: fit-content;
  font-size: 12px;

  &.successful {
    background: #1F932D;
  }

  &.draft {
    background: #CA8828;
  }

  &.failed {
    background: #D83A3A;
  }

  &.pending {
    background: #0090C7;
  }
}

.mdc-dialog__surface {
  padding: 2rem !important;
}