::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: rgb(238, 234, 247);
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

a {
    color: inherit;
}