<div class="">
  <div class="hero  !bg-[#F9FCFD7A] py-10 flex flex-col gap-4">
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="bg-[#DBF0F9] py-2 px-4 rounded-2xl justify-center items-center">
        <p class="whitespace-nowrap text-[#00ADEF]">Pricing plans</p>
      </div>
      <p class="font-bold text-2xl lg:text-[48px] mt-4">Plans for all sizes</p>
      <p class="mt-2">Simple, transparent pricing that grows with you. Try any plan free for 30 days.</p>
    </div>
    <div class="grid lg:grid-cols-3 py-5 md:py-10 gap-6">
      <div class="bg-white zoom-effect2 flex flex-col rounded-2xl md:w-[344px]">
        <div class="p-5 flex flex-col gap-4 justify-center items-center">
          <div>
            <img src="assets/images/strike.svg" alt="">
          </div>
          <p class="text-[#00ADEF] font-bold">Basic plan</p>
          <p class="text-2xl lg:text-[48px] font-bold">Free</p>
          <p>Billed annually.</p>
        </div>
        <div class="p-5 flex flex-col gap-4">
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Access to all basic features</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Basic reporting and analytics</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Up to 10 individual users</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>20GB individual data each user</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Basic chat and email support</p>
          </div>
        </div>
        <div class="bg-[#F9FAFB] py-5 rounded-b-xl">
          <app-button buttonText="Get Started" buttonStyles="w-[200px] flex mx-auto mt-4"></app-button>
        </div>
      </div>
      <div class="bg-white zoom-effect2 flex flex-col rounded-2xl md:w-[344px]">
        <div class="p-5 flex flex-col gap-4 justify-center items-center">
          <div>
            <img src="assets/images/strike.svg" alt="">
          </div>
          <p class="text-[#00ADEF] font-bold">Business  plan</p>
          <p class="text-2xl lg:text-[48px] font-bold">N20/mth</p>
          <p>Billed annually.</p>
        </div>
        <div class="p-5 flex flex-col gap-4">
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>200+ integrations</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Advanced reporting and analytics</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Up to 20 individual users</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>20GB individual data each user</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Basic chat and email support</p>
          </div>
        </div>
        <div class="bg-[#F9FAFB] py-5 rounded-b-xl">
          <app-button buttonText="Get Started" buttonStyles="w-[200px] flex mx-auto mt-4"></app-button>
        </div>
      </div>
      <div class="bg-white zoom-effect2 flex flex-col rounded-2xl md:w-[344px]">
        <div class="p-5 flex flex-col gap-4 justify-center items-center">
          <div>
            <img src="assets/images/strike.svg" alt="">
          </div>
          <p class="text-[#00ADEF] font-bold">Enterprise plan</p>
          <p class="text-2xl lg:text-[48px] font-bold">N40/mth</p>
          <p>Billed annually.</p>
        </div>
        <div class="p-5 flex flex-col gap-4">
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Advanced custom fields</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Audit log and data history</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Unlimited individual data</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Unlimited individual data</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Personalised+priotity service</p>
          </div>
        </div>
        <div class="bg-[#F9FAFB] py-5 rounded-b-xl">
          <app-button buttonText="Get Started" buttonStyles="w-[200px] flex mx-auto mt-4"></app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-10 lg:py-20 bg-white">
    <div class="flex flex-col justify-center items-center gap-4 ">
      <p class="font-bold text-3xl lg:text-[48px] text-[#003A50]">How does our free plan work</p>
      <p class="leading-6 text-sm lg:text-center max-w-[660px]">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data.</p>
    </div>
  </div>

  <div class="py-10 lg:py-20 landing-padding-x !bg-[#FBFBFF]">
    <div class="flex flex-col justify-center items-center gap-4">
      <p class="text-2xl lg:text-[40px] font-semibold text-[#005677]">Frequently asked questions</p>
      <p clas="text-[#667085] font-bold lg:text-base">Everything you need to know about the product and billing.</p>
    </div>
    <div class="container mx-auto lg:w-[818px] py-10">
      <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3" checked="checked" />
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          Is there a free trial available?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          Can I change my plan later?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          What is your cancellation policy?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
      <div class="collapse collapse-plus  bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          Can other info be added to an invoice?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
    </div>
    <div class="bg-[#005677] rounded-2xl p-3 mt-5 lg:w-[566px] flex mx-auto">
      <div class="bg-[#FFF9F2F5] landing-padding-x py-5 rounded-2xl flex flex-col gap-4 justify-center items-center">
        <div>
          <img src="assets/images/Avatar group.png" alt="">
        </div>
        <div class="flex flex-col justify-center items-center">
          <p class="text-[#005677] text-xl">Still have questions?</p>
          <p class="text-[#003A50] text-sm text-center">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
        </div>
        <app-button buttonText="Get Started" buttonStyles="w-[180px] xl:w-[246px] mt-4"></app-button>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="bg-[#003A50] pt-10 landing-padding-x grid lg:grid-cols-2 gap-6">
    <div>
      <img src="assets/images/phone.png" alt="">
    </div>
    <div class="flex flex-col gap-2 text-white justify-center ">
      <p class="text-base font-semibold">TRY ON MOBILE</p>
      <p class="text-2xl lg:text-[40px] lg:leading-[68px] lg:w-[400px]">Download our app for free</p>
      <div class="flex flex-col md:flex-row gap-4 mb-6 lg:mb-0">
        <div>
          <img src="assets/images/applestore.svg" alt="">
        </div>
        <div>
          <img src="assets/images/playstore.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="location bg-white py-10 lg:py-20 landing-padding-x">
    <div class="flex flex-col gap-4 justify-center items-center">
      <p class="text-xl text-[40px] font-semibold text-[#005677]">We’re located in every part of the country</p>
      <p class="text-[#667085] text-base">Everything you need to know about the product and billing.</p>
    </div>
    <div class="flex w-full justify-center my-5 lg:my-12">
      <img src="assets/images/map.svg" alt="" class="w-full">
    </div>
    <div class="landing-padding-x grid md:grid-cols-2 lg:grid-cols-3 lg:place-items-center py-4">
      <div class="flex flex-col gap-2">
        <p class="text-[#101828] font-semibold text-lg lg:text-xl">Support</p>
        <p class="text-[#667085] text-base">Our friendly team is here to help.</p>
        <p class="mt-4 text-[#DA7B07] font-semibold text-base">support&#64;ATOKA.com</p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-[#101828] font-semibold text-lg lg:text-xl">Sales</p>
        <p class="text-[#667085] text-base">Questions or queries? Get in touch!</p>
        <p class="mt-4 text-[#DA7B07] font-semibold text-base">sales&#64;ATOKA.com</p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-[#101828] font-semibold text-lg lg:text-xl">Phone</p>
        <p class="text-[#667085] text-base">Mon-Fri from 8am to 5pm.</p>
        <p class="mt-4 text-[#DA7B07] font-semibold text-base">+234 (980) 580-0980</p>
      </div>
    </div>
  </div>
  <!--  -->
  <app-newsletter></app-newsletter>
</div>
