<div mat-dialog-content class="items-center">
  @if (!isSuccess) {
    <div class="items-center grid grid-cols-1">
      <div class="atoka-form-header">
        <h1>Forgot Password</h1>
        <small>No worries. We will send you reset instructions.</small>
      </div>

      <form class="pt-6 w-full max-w-md mx-auto" [formGroup]="form">
        <p *ngIf="message" class="text-sm text-center font-light text-red-500 mb-4">
          {{ message }}
        </p>

        <div class="grid">
          <div class="control">
            <mat-label class="text-sm text-start">Email address</mat-label>
            <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
              <input
                matInput
                placeholder="Enter email address"
                formControlName="email"
                type="email"
                name="email"
                id="email"
              />
              <mat-error *ngIf="form.get('email')?.hasError('required') && (form.get('email')?.dirty || form.get('email')?.touched)">
                Email address is required
              </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('email') && (form.get('email')?.dirty || form.get('email')?.touched)">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-center gap-4 mt-3">
          <button
            class="w-full"
            type="button"
            mat-flat-button
            color="primary"
            (click)="continue()"
            [disabled]="form.invalid || isSubmitting"
          >
            Continue
          </button>
        </div>
        
        <span class="flex justify-center gap-2 select-none cursor-pointer text-sm font-light text-gray-500 text-center py-4" (click)="back()">
          <mat-icon>&#xe5c4;</mat-icon>
          <span>Back</span>
        </span>
      </form>
    </div>
  } @else {
    <div class="items-center grid grid-cols-1 p-5">
      <div class="atoka-form-header">
        <h1>Forgot Password</h1>
        <p class="text-sm font-light text-gray-500">We sent a password reset code to {{form.value.email}}.</p>
      </div>
      <div class="flex flex-col justify-center items-center gap-8 pt-5 mt-3">
        <img src="assets/images/thumbs-up-green.svg"/>
        <div class="atoka-form-sub-header">
          <h1>Password Reset Link Sent</h1>
          <p class="text-sm font-light text-gray-500">A password reset link has been sent to your email.</p>
        </div>
        <button type="button" mat-flat-button mat-dialog-close color="primary" (click)="closeWithSuccess()">
            Proceed
        </button>
      </div>
    </div>
  }
</div>

