<div>
  <router-outlet></router-outlet>
  <div>
    <div class="landing-padding-x py-5 lg:py-20 bg-[#FBFDFE]">      
      <p class="flex justify-center mx-auto font-semibold text-2xl lg:text-4xl lg:w-[670px] items-center text-center">Try Address verification with these other products</p>
      <div>        
        <div class="justify-around flex py-5 md:py-10">
          <div class="grid lg:grid-cols-3 py-5 md:py-10 xl:px-10 gap-10">
            <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 lg:p-8 shadow-md lg:w-[343px] zoom-effect">
              <div>
                <img src="assets/images/street.png" alt="">
              </div>
              <p class="font-bold text-base">Street level verification</p>
              <p>Quick and easy way to keep track of your transaction</p>
              <p class="mt-5 font-bold">Learn more</p>
            </div>
            <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 lg:p-8 shadow-md lg:w-[343px] zoom-effect">
              <div>
                <img src="assets/images/emal.png" alt="">
              </div>
              <p class="font-bold text-base text-[#003A50]">Email verification</p>
              <p class="text-[#005677]">Quick and easy way to keep track of your transaction</p>
              <p class="mt-5 font-bold text-[#00ADEF]">Learn more</p>
            </div>
            <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 lg:p-8 shadow-md lg:w-[343px] zoom-effect">
              <div>
                <img src="assets/images/address.png" alt="">
              </div>
              <p class="font-bold text-base text-[#643803]">Address  verification</p>
              <p class="text-[#5B3406]">Quick and easy way to keep track of your transaction</p>
              <p class="mt-5 font-bold text-[#DA7B07]">Learn more</p>
            </div>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <img src="assets/images/carousel-button.svg" alt="">
        </div>
      </div>
      
    </div>
    <!--  -->
    <app-faq></app-faq>
    <!--  -->
    <app-get-mobile></app-get-mobile>
    <!--  -->
    <app-support-contact></app-support-contact>
    <!--  -->
    <app-newsletter></app-newsletter>
  </div>
</div>
