<div>
  <router-outlet></router-outlet>

  <div>


    <!--  -->
    <div class="location bg-white py-10 lg:py-20 landing-padding-x">
      <div class="flex flex-col gap-4 justify-center items-center">
        <p class="text-xl text-[40px] font-semibold text-[#005677]">We’re located in every part of the country</p>
        <p class="text-[#667085] text-base">Everything you need to know about the product and billing.</p>
      </div>
      <div class="flex w-full justify-center my-5 lg:my-12">
        <img src="assets/images/map.svg" alt="" class="w-full">
      </div>
      <div class="landing-padding-x grid md:grid-cols-2 lg:grid-cols-3 lg:place-items-center py-4">
        <div class="flex flex-col gap-2 justify-center items-center">
          <p class="text-[#101828] font-semibold text-lg lg:text-xl">Support</p>
          <p class="text-[#667085] text-base">Our friendly team is here to help.</p>
          <p class="mt-4 text-[#DA7B07] font-semibold text-base">support&#64;ATOKA.com</p>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center">
          <p class="text-[#101828] font-semibold text-lg lg:text-xl">Sales</p>
          <p class="text-[#667085] text-base">Questions or queries? Get in touch!</p>
          <p class="mt-4 text-[#DA7B07] font-semibold text-base">sales&#64;ATOKA.com</p>
        </div>
        <div class="flex flex-col gap-2 justify-center items-center">
          <p class="text-[#101828] font-semibold text-lg lg:text-xl">Phone</p>
          <p class="text-[#667085] text-base">Mon-Fri from 8am to 5pm.</p>
          <p class="mt-4 text-[#DA7B07] font-semibold text-base">+234 (980) 580-0980</p>
        </div>
      </div>
    </div>
    <!--  -->
    <app-newsletter></app-newsletter>
  </div>
</div>
