:host ::ng-deep .location-search {
  .mdc-text-field {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #d0d5dd;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mdc-text-field__input {
    padding: 0;
    color: #01171f;
  }
}

:host ::ng-deep .no-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.action-button {
  @apply flex items-center gap-2 rounded-full px-4 py-2 text-sm font-medium transition;
  @apply text-[#003A50] bg-white hover:bg-primary-light;
}

.action-button.active {
  @apply bg-primary text-white border-primary;
}


:host {
  ::ng-deep {
    .map {
      .map-container {
        width: 100% !important;
      }
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
      border-color: #E6E6E6 !important;
    }
    .no-subscript .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

:host ::ng-deep .mat-mdc-form-field-bottom-align::before {
    content: unset;
    display: inline-block;
    height: 16px;
}




:host ::ng-deep .table-search {
  .mdc-text-field {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #d0d5dd;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mdc-text-field__input {
    padding: 0;
    color: #01171f;
  }

  .mdc-line-ripple,
  .mdc-text-field__ripple {
    display: none;
  }
}

:host ::ng-deep .no-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
