<div class="">
  <div class="hero lg:h-[calc(100vh - 80px)] bg-gradient-to-r !from-[#FFFFFF] from-100% to-[#EDEFF500] to-0% landing-padding-x">
    <div class="grid lg:grid-cols-2 gap-4">
      <div class="flex flex-col gap-4 justify-center">
        <div class="rounded-lg bg-[#C4C2B142] py-2 flex justify-center w-[179px]">
          <p class="font-extrabold whitespace-nowrap text-[#003A50]">Address Captures</p>
        </div>
        <p class="text-3xl md:text-[48px] text-[#005677] leading-[40px] md:leading-[60px] font-bold">Instant Address Lookup</p>
        <p class="md:w-[542px]">Efficient auto-suggest address capture powered by the Nigeria's most comprehensive and precise-premise level address data.</p>
        <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/address-lookup-1.svg" alt="" class="w-full">
      </div>
    </div>
  </div>
  <!-- two -->
  <div class="landing-padding-x py-5 lg:py-20 bg-white">
    <div class="flex flex-col justify-center items-center gap-4 ">
      <p class="font-bold text-3xl lg:text-[48px] text-[#003A50]">Take a quick tour</p>
      <p class="leading-6 text-sm">See how you can improve your Address verification system with a single demo</p>
    </div>
    <div class="flex justify-center py-5 lg:py-10 mt-5">
      <img src="assets/images/address-lookup-2.png" alt="">
    </div>
  </div>
  <!-- three -->
  <div class="location landing-padding-x py-5 lg:py-10 bg-white">
    <p class="flex justify-center mx-auto leading-[43.21px] font-semibold text-2xl lg:text-4xl lg:w-[780px] items-center text-center">Superior Technology For Quality Assurance and accurate verification</p>
    <div class="flex flex-col gap-4 py-10 my-5">
      <div class="grid md:grid-cols-2 gap-4 lg:gap-6 lg:place-items-center">
        <div>
          <img src="assets/images/product-5.png" alt="">
        </div>
        <div class="flex flex-col gap-4 justify-center">
          <div>
            <img src="assets/images/deploy.svg" alt="">
          </div>
          <p class="text-xl lg:text-4xl font-semibold text-[#AF6E26] leading-[30px] md:leading-[43.21px]">Flexible deployment</p>
          <p class="md:w-[378px]">We work with companies who have a small online presence, right up to enterprise level business who have a presence on every continent so we offer deployment options to suit you - on-premise, via the cloud or even private cloud.</p>
        </div>
      </div>
      <div class="grid md:grid-cols-2 gap-4 lg:gap-6 lg:place-items-center">
        <div class="flex flex-col gap-4 justify-center">
          <div>
            <img src="assets/images/purple-map.svg" alt="">
          </div>
          <p class="text-xl lg:text-4xl font-semibold md:w-[250px] lg:w-[457px] leading-[30px] md:leading-[43.21px]">Reduced address entry times and errors</p>
          <p class="md:w-[378px]">Our expertise in address verification ensures accurate customer data at every point, from capture in your web and epos forms to cleansing and verifying address data in your internal systems.</p>
        </div>
        <div>
          <img src="assets/images/product-4.png" alt="">
        </div>
      </div>
      <div class="grid md:grid-cols-2 gap-4 lg:gap-6 lg:place-items-center">
        <div>
          <img src="assets/images/product-3.png" alt="">
        </div>
        <div class="flex flex-col gap-4 justify-center">
          <div>
            <img src="assets/images/easy.svg" alt="">
          </div>
          <p class="text-xl lg:text-4xl font-semibold md:w-[250px] lg:w-[457px] leading-[30px] md:leading-[43.21px]">Easy integration with local capabilities</p>
          <p class="md:w-[378px]">Our expertise in address verification ensures accurate customer data at every point, from capture in your web and epos forms to cleansing and verifying address data in your internal systems.</p>
        </div>
      </div>
    </div>
  </div>
</div>
