<div>
  <div class="bg-white lg:h-[calc(100vh-80px)] landing-padding-x place-items-center justify-center flex">
    <div class="grid lg:grid-cols-2 py-5 gap-4">
      <div class="flex flex-col gap-4 justify-center py-4">
        <div class="rounded-xl bg-[#E5F8FFC2] py-2 flex justify-center w-[179px]">
          <p class="font-extrabold whitespace-nowrap text-[#00ADEF] text-sm tracking-[0.15em]">Retails</p>
        </div>
        <p class="text-4xl lg:text-[48px] text-[#005677] leading-[40px] lg:leading-[60px] font-extrabold max-w-[519px]">Solution for Retails</p>
        <p class="leading-6 lg:w-[519px]">Don't let bad address data have a negative impact on your brand. Our type-ahead address verification minimises checkout friction by reducing the amount of typing required from a customer by over 70%.</p>
        <app-button buttonText="Get Started"  buttonStyles="w-[200px]  mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/retail-1.png" alt="" class="w-full">
      </div>
    </div>
  </div>
  <!--  -->
  <div class="py-10 lg:py-20 landing-padding-x bg-[#F8FDFF]">
    <p class="flex justify-center mx-auto font-bold text-2xl lg:text-4xl max-w-[850px] text-center leading-[43.21px]">ATOKA has helped different Retails company build a business decision</p>
    <div class="flex justify-center py-10 mt-5">
      <div class="grid md:grid-cols-2 gap-4 lg:gap-10 lg:place-items-center border border-[#C2D2F1] bg-white rounded-3xl shadow-lg px-10">
        <div>
          <img src="assets/images/retail-2.png" alt="">
        </div>
        <div class="flex flex-col gap-4 lg:gap-6 justify-center">
          <div>
            <img src="assets/images/easy.svg" alt="">
          </div>
          <p class="text-xl lg:text-2xl font-semibold md:max-w-[468px] leading-[30px]">Easy online student registration</p>
          <p class="md:max-w-[468px]">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
        </div>
      </div>
    </div>
  </div>  
  <!--  -->
  <div class="landing-padding-x py-5 lg:py-20 !bg-white">
    <div class="flex flex-col gap-4 justify-center items-center gap-4">
      <p class="text-[#0090C7] font-semibold text-3xl lg:text-[48px]">How it works</p>
      <p>See how you can improve your Address verification system with a single demo</p>
    </div>
    <div class="flex flex-col lg:flex-row py-10 justify-center">
      <div class="py-8">
        <img src="assets/images/green-address.png" alt="" class="w-full">
      </div>
      <div class="hidden lg:flex justify-center items-center">
        <img src="assets/images/arrow.png" alt="" class="w-full">
      </div>
      <div>
        <img src="assets/images/black-address.png" alt="" class="">
      </div>
    </div>
  </div>
  <!--  -->
  <div class="landing-padding-x py-5 lg:py-20 bg-[#EBE8FE2B]">   
    <p class="flex justify-center mx-auto font-semibold text-2xl lg:text-4xl lg:w-[670px] items-center text-center">Try Address verification with these other products</p>
    <div>        
      <div class="justify-around flex py-5 md:py-10">
        <div class="grid lg:grid-cols-3 py-5 md:py-10 xl:px-10 gap-10">
          <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#08123B] p-5 lg:p-8 shadow-md lg:w-[343px] zoom-effect">
            <div>
              <img src="assets/images/street-purple.svg" alt="">
            </div>
            <p class="font-bold text-base">Street level verification</p>
            <p>Quick and easy way to keep track of your transaction</p>
            <p class="mt-5 font-bold text-[#000000]">Learn more</p>
          </div>
          <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 lg:p-8 shadow-md lg:w-[343px] zoom-effect">
            <div>
              <img src="assets/images/email-purple.svg" alt="">
            </div>
            <p class="font-bold text-base text-[#08123B]">Email verification</p>
            <p class="">Quick and easy way to keep track of your transaction</p>
            <p class="mt-5 font-bold text-[#000000]">Learn more</p>
          </div>
          <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 lg:p-8 shadow-md lg:w-[343px] zoom-effect">
            <div>
              <img src="assets/images/address-purple.svg" alt="">
            </div>
            <p class="font-bold text-base text-[#08123B]">Address verification</p>
            <p class="">Quick and easy way to keep track of your transaction</p>
            <p class="mt-5 font-bold text-[#000000]">Learn more</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>      
  </div>
</div>
