
<div class="atoka-form-header">
  <div class="atoka-form-header-icon">
    <!-- <mat-icon>&#xe7fd;</mat-icon> -->
    <mat-icon svgIcon="password" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>

  </div>
  <h1>Create Password</h1>
  <small>Create a secured password.</small>
</div>

<form class="pt-10 max-w-md mx-auto" [formGroup]="registrationForm">
  <p *ngIf="message" class="text-sm text-center font-light text-red-500 mb-4">
    {{ message }}
  </p>

  <div class="grid">
    <div class="control">
      <mat-label class="text-sm">Username</mat-label>
      <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always" >
        <input [disabled]="true" matInput placeholder="Username" formControlName="userName" [type]="'text'" name="userName" id="userName" >
        <mat-error *ngIf="registrationForm.get('userName')?.hasError('required') && (registrationForm.get('userName')?.dirty || registrationForm.get('userName')?.touched)">
          Username is required
        </mat-error>
        <mat-error *ngIf="registrationForm.get('userName')?.hasError('minlength') && (registrationForm.get('userName')?.dirty || registrationForm.get('userName')?.touched)">
          Username must be at least 6 characters
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="grid">
    <div class="control">
      <mat-label class="text-sm">Password</mat-label>
      <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
        <input #password matInput placeholder="enter password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" name="password" id="password">
        <button type="button" class="cursor-pointer" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <span class="text-xs font-semibold">{{hidePassword ? 'Show' : 'Hide'}} </span>
        </button>
        <mat-error *ngIf="registrationForm.get('password')?.hasError('required') && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
          Please enter password to create a password
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-col mb-8">
    <p class="text-xs">Password must contain</p>
    <mat-chip-listbox class="atoka-password-options">
      <mat-chip selected [ngClass]="{'success': regex.hasUppercase.test(password.value)}">
        @if (regex.hasUppercase.test(password.value)) {<button matChipRemove><mat-icon >check</mat-icon></button>}
        upper Case
      </mat-chip>
      <mat-chip [ngClass]="{'success': regex.hasLowercase.test(password.value)}">
        @if (regex.hasLowercase.test(password.value)) {<button matChipRemove><mat-icon >check</mat-icon></button>}
        lower Case
      </mat-chip>
      <mat-chip [ngClass]="{'success': regex.hasNumeric.test(password.value)}">
        @if (regex.hasNumeric.test(password.value)) {<button matChipRemove><mat-icon >check</mat-icon></button>}
        Numeric
      </mat-chip>
      <mat-chip [ngClass]="{'success': regex.specialChar.test(password.value)}">
        @if (regex.specialChar.test(password.value)) {<button matChipRemove><mat-icon >check</mat-icon></button>}
        Special character
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <div class="grid">
    <div class="control">
      <mat-label class="text-sm">Confirm Password</mat-label>
      <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
        <input matInput placeholder="confirm password" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword" id="confirm-password">
        <button type="button" class="cursor-pointer" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
          <span class="text-xs font-semibold">{{hideConfirmPassword ? 'Show' : 'Hide'}} </span>
        </button>
        <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required') && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
          Please confirm your password
        </mat-error>
        <mat-error *ngIf="registrationForm.hasError('notmatched') && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
          Password entered does not match
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="flex flex-col items-center mt-8">
    <button
      (click)="createPassword()"
      type="button"
      mat-flat-button
      color="primary"
      [disabled]="
        registrationForm.invalid ||
        !regex.hasUppercase.test(password.value) ||
        !regex.hasLowercase.test(password.value) ||
        !regex.hasNumeric.test(password.value) ||
        !regex.specialChar.test(password.value)
      "
    >
      Continue
    </button>
  </div>
</form>

<app-loader *ngIf="loadingService.isLoading$ | async"></app-loader>
