.verification-action-dialog .decline-btn {
  border-color: #fda29b;
  color: #b42318;
  background: #ffffff;
}

.verification-action-dialog-container .mdc-dialog__surface {
  border-radius: 16px !important;
}

.mdc-dialog__surface {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}