<div class="bg-[#002330]">
  <div class="grid lg:grid-cols-[50%_50%] gap-4 lg:gap-6 py-5 lg:py-0 lg:h-[calc(100vh)] overflow-hidden mx-auto">
    <div class="flex flex-col px-5 lg:pl-20 gap-4 lg:justify-center xxl:w-[716px]">
      <p class="text-2xl md:text-[50px] lg:text-[62px] text-[#FFF] leading-[40px] md:leading-[80px] font-bold lg:w-[px]">Address Verification And
        <span class="text-[#DA7B07] relative">Geocoding
          <div class="absolute top-0 right-0 bottom-0 left-0 z-10">
            <img src="assets/images/purple-vector.svg" alt="">
          </div>
      </span>
      Technology</p>
      <p class="leading-[33px] lg:w-[708px] px-18 text-[#FFF] lg:text-[18px] mt-8">Our address verification and property identification solutions deliver streamlined data validation and enrichment with enhanced efficiency.</p>
      <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4 bg-[#0090C7]"></app-button>
    </div>
    <div class="lg:py-4">
      <img src="assets/images/home-1.svg" alt="" class="w-full">
    </div>
  </div>
  <!-- Second -->
  <div class="!bg-[#FBFEFF] py-10 landing-padding-x landing-padding-y">
    <div class="flex flex-col gap-4">
      <p class="text-[#DA7B07] font-bold text-base leading-6 tracking-widest">Feature product</p>
      <p class="font-extrabold text-2xl lg:text-[48px] leading-10 lg:leading-[56px] text-[#00739F]">Our product and service</p>
      <p class="text-[#01171F] lg:text-[18px] lg:w-[666px]">ATOKA combines third-party commercial data with in-house research and verified data resources. </p>
    </div>
    <div class="circle-dot">
      <div class="justify-around flex px-10 pt-10">
        <div class="grid lg:grid-cols-3 py-5 md:py-10 mt-4 xl:px-10 gap-10">
          <div class="zoom-effect bg-white rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 lg:p-10 shadow-md lg:w-full md:w-[343px]">
            <div>
              <img src="assets/images/street.png" alt="">
            </div>
            <p class="font-bold text-lg lg:text-2xl">Street level verification</p>
            <p class="leading-relaxed">ATOKA's street level verification service provides precise address validation</p>
            <p class="mt-2 font-bold" routerLink="/verify-address">Learn more</p>
          </div>
          <div class="zoom-effect bg-white rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 lg:p-10 shadow-md lg:w-full md:w-[343px]">
            <div>
              <img src="assets/images/emal.png" alt="">
            </div>
            <p class="font-bold  text-lg lg:text-2xl text-[#003A50]">Email verification</p>
            <p class="text-[#005677] leading-relaxed">Quick and easy way to keep track of your transaction</p>
            <p class="mt-2 font-bold text-[#00ADEF]" routerLink="/verify-address">Learn more</p>
          </div>
          <div class="zoom-effect bg-white rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 lg:p-10 shadow-md lg:w-full md:w-[343px]">
            <div>
              <img src="assets/images/address.png" alt="">
            </div>
            <p class="font-bold  text-lg lg:text-2xl text-[#643803]">Address verification</p>
            <p class="text-[#5B3406] leading-relaxed">Quick and easy way to keep track of your transaction</p>
            <p class="mt-2 font-bold text-[#DA7B07]" routerLink="/address-verification">Learn more</p>
          </div>
        </div>
      </div>
      
      <div class="flex justify-center items-center">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>
  </div>
  <!-- Third -->
  <div class="flex flex-col gap-4 justify-center items-center py-5 landing-padding-x !bg-white hidden">
    <p class="mb-6 text-[#475569]">Join over 200+ companies already using ATOKA</p>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:place-items-center">
      <div>
        <img src="assets/images/waverio.svg" alt="">
      </div>
      <div>
        <img src="assets/images/logoipsum.svg" alt="">
      </div>
      <div>
        <img src="assets/images/alterbone.svg" alt="">
      </div>
      <div>
        <img src="assets/images/carbonia.svg" alt="">
      </div>
      <div>
        <img src="assets/images/tinygone.svg" alt="">
      </div>
      <div>
        <img src="assets/images/preso.svg" alt="">
      </div>
      <div>
        <img src="assets/images/ridoria.svg" alt="">
      </div>
      <div>
        <img src="assets/images/incanto.svg" alt="">
      </div>
    </div>
  </div>
  <!-- fourth -->
  <div class=" !bg-[#E5F6FF] all-in-one-background py-10 overflow-hidden">
    <div class="landing-padding-y grid lg:grid-cols-[45%_55%] gap-4 lg:gap-6">
      <div class="flex flex-col gap-4 lg:gap-6 justify-center landing-padding-x">
        <p class="text-[#005677] font-extrabold text-2xl leading-10 md:text-[45px] md:leading-[50px] md:w-[450px] lg:text-[55px] lg:leading-[60px] lg:w-[550px]">All in one platform empowering all addressing system globally.</p>
        <p class="text-[#01171F] leading-[21px] lg:text-[18px]">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data. </p>
        <app-button buttonText="Get Started" buttonStyles="w-[200px] xl:w-[240px] mt-2"></app-button>
      </div>
      <div class="px-4 lg:px-0 w-full">
        <img src="assets/images/home-2.svg" alt="" class="w-full">
      </div>
    </div>

    </div>
  <!-- fifth -->
  <div class="!bg-white py-10 lg:py-20 landing-padding-x landing-padding-y">
    <div class="flex flex-col gap-4 mb-4 lg:mb-0">
      <p class="text-base leading-6 tracking-widest">Testimony</p>
      <p class="font-semibold text-2xl lg:text-[40px] leading-10 lg:leading-[44px] text-[#005677] lg:w-[500px]">What are our client saying about us</p>
      <p class="text-[#667085] max-w-[515px]">Everything you need to know about the product and billing.</p>
    </div>
    <div class="flex flex-col relative lg:!mb-10">
      <div class=" flex flex-col lg:flex-row gap-4 lg:gap-12 py-5 md:py-10 justify-end">
       <div class="zoom-effect3 rounded-3xl bg-white flex flex-col justify-center items-center gap-2 text-[#1A124C] lg:w-[396px] p-10">
          <div class="bg-[#D9D9D9] rounded-full w-[82px] h-[82px]">
          </div>
          <p class="font-bold text-xl text-[#003A50]">Favour Oluwale</p>
          <p class="text-[#003A50]">Product designer</p>
          <p class="text-center text-[#667085] lg:w-[380px] mt-2">Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.</p>
          <div class="mt-4 lg:mt-10">
            <img src="assets/images/star.png" alt="">
          </div>
        </div>
        <div class="zoom-effect3 rounded-3xl bg-white flex flex-col justify-center items-center gap-2 text-[#1A124C] lg:w-[396px] p-10">
          <div class="bg-[#D9D9D9] rounded-full w-[82px] h-[82px]">
          </div>
          <p class="font-bold text-xl text-[#003A50]">Favour Oluwale</p>
          <p class="text-[#003A50]">Product designer</p>
          <p class="text-center text-[#667085] lg:w-[380px] mt-2">Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.</p>
          <div class="mt-4 lg:mt-10">
            <img src="assets/images/star.png" alt="">
          </div>
        </div>
      </div>
      <div class="flex justify-center lg:absolute lg:left-[65%] lg:top-[100%]">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>
  </div>
  <!-- sixth -->
  <div class="!bg-[#003A50] choose py-10 lg:py-20 landing-padding-x text-white">
    <div class="flex flex-col justify-center items-center gap-4 ">
      <p class="text-white font-bold text-2xl lg:text-4xl">Why choose us</p>
      <p class="text-white max-w-[500px] leading-6 text-sm text-center font-normal">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data.</p>
    </div>
    <div class="md:px-10 lg:px-16 flex flex-col gap-6 lg:py-20 py-10">
      <div class="justify-around flex px-10">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-12">
          <div class="flex flex-col md:justify-center md:items-center mb-2 md:mb-10 gap-4 lg:w-[282px] p-4">
            <div>
              <img src="assets/images/blue-mail.svg" alt="">
            </div>
            <p class="font-semibold text-base  text-white text-[16px]">Share team inboxes</p>
            <p class="leading-6 md:text-center text-white lg:w-[282px] text-[14px]">Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center mb-2 md:mb-10 gap-4 lg:w-[282px] p-4">
            <div>
              <img src="assets/images/instant-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base text-white text-[16px]">Deliver instant answers</p>
            <p class="leading-6 md:text-center text-white lg:w-[282px] text-[14px]">An all-in-one customer service platform that helps you balance everything your customers need to be happy.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center mb-2 md:mb-10 gap-4 lg:w-[282px] p-4">
            <div>
              <img src="assets/images/report-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Manage your Property with reports</p>
            <p class="leading-6 md:text-center text-white lg:w-[282px] text-[14px]">Measure what matters with Untitled's easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center mb-2 md:mb-10 gap-4 lg:w-[282px] p-4">
            <div>
              <img src="assets/images/blue-mail.svg" alt="">
            </div>
            <p class="font-semibold text-base  text-white text-[16px]">Share team inboxes</p>
            <p class="leading-6 md:text-center text-white lg:w-[282px] text-[14px]">Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center mb-2 md:mb-10 gap-4 lg:w-[282px] p-4">
            <div>
              <img src="assets/images/instant-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base text-white text-[16px]">Deliver instant answers</p>
            <p class="leading-6 md:text-center text-white lg:w-[282px] text-[14px]">An all-in-one customer service platform that helps you balance everything your customers need to be happy.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center mb-2 md:mb-10 gap-4 lg:w-[282px] p-4">
            <div>
              <img src="assets/images/report-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Manage your Property with reports</p>
            <p class="leading-6 md:text-center text-white lg:w-[282px] text-[14px]">Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- seventh -->
  <app-faq></app-faq>
  <!--  -->
  <app-get-mobile></app-get-mobile>
  <!--  -->
  <app-support-contact></app-support-contact>
  <!--  -->
 <app-newsletter></app-newsletter>
</div>
