<div class="">
  <div class="bg-white lg:h-[calc(100vh-80px)] landing-padding-x place-items-center justify-center flex">
    <div class="grid lg:grid-cols-2 py-5 gap-4">
      <div class="flex flex-col gap-4 justify-center py-4">
        <div class="rounded-xl bg-[#E5F8FFC2] py-2 flex justify-center w-[99px]">
          <p class="font-extrabold whitespace-nowrap text-[#00ADEF] text-sm tracking-[0.15em]">Insurance</p>
        </div>
        <p class="text-4xl lg:text-[48px] text-[#005677] leading-[40px] lg:leading-[60px] font-extrabold max-w-[512px]">Solution for Insurance and risk assessment.</p>
        <p class="leading-6 lg:w-[512px]">To provide an accurate risk assessment, underwriters and insurance companies need accurate geospatial data for specific locations. Incorrect addressing data can lead to incorrect insurance policies and costly delays, meaning incorrect fees, unhappy customers and lost profits.</p>
        <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/risk-1.png" alt="" class="w-full">
      </div>
    </div>
  </div>
  <!--  -->
  <div class="location landing-padding-x bg-white">
    <div class="flex flex-col gap-4 justify-center items-center">
      <p class="text-[#003A50] font-semibold text-3xl lg:text-[48px]">How it works</p>
      <p>The fastest, easiest and the most reliable way to check businesses and locations.</p>
    </div>
    <div class="flex flex-col lg:flex-row py-10 justify-center">
      <div class="py-8">
        <img src="assets/images/green-address.png" alt="" class="w-full">
      </div>
      <div class="hidden lg:flex justify-center items-center">
        <img src="assets/images/arrow.png" alt="" class="w-full">
      </div>
      <div>
        <img src="assets/images/black-address.png" alt="" class="">
      </div>
    </div>
  </div>
  <!--  -->
  <div class="location py-10 lg:py-20 landing-padding-x bg-white">
    <p class="flex justify-center mx-auto font-bold text-2xl lg:text-4xl max-w-[850px] text-center leading-[43.21px]">ATOKA has helped different Insurance company build a business decision</p>
    <div class="justify-around flex">
      <div class="grid grid-cols-2 lg:grid-cols-[55%_45%] gap-4 lg:gap-6 py-10 landing-padding-y">
        <div class="flex flex-row justify-end p-10">
          <img class="" src="assets/images/risk-2.svg" alt="">
        </div>
        <div class="flex flex-col gap-10 max-w-[568px] lg:px-5">
          <div class="flex flex-col gap-4 justify-center">
            <div>
              <img src="assets/images/easy-blue.svg" alt="">
            </div>
            <p class="text-2xl font-semibold">Easy online student registration</p>
            <p class="leading-6">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
          </div>
          <div class="flex flex-col gap-4 justify-center">
            <div>
              <img src="assets/images/easy-blue.svg" alt="">
            </div>
            <p class="text-2xl font-semibold">Easy online student registration</p>
            <p class="leading-6">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
          </div>
          <div class="flex flex-col gap-4 justify-center">
            <div>
              <img src="assets/images/easy-blue.svg" alt="">
            </div>
            <p class="text-2xl font-semibold">Easy online student registration</p>
            <p class="leading-6">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
