<div class="py-10 lg:py-20 landing-padding-x !bg-[#FBFBFF]">
    <div class="flex flex-col justify-center items-center gap-4">
        <p class="text-2xl lg:text-[40px] font-semibold text-[#005677]">Frequently asked questions</p>
        <p class="text-[#667085] text-base">Everything you need to know about the product and billing.</p>
    </div>
    <div class="container mx-auto lg:w-[818px] py-10">
        <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3" checked="checked" />
        <div class="collapse-title text-xl text-[#005677] font-semibold">
            Is there a free trial available?
        </div>
        <div class="collapse-content">
            <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
        </div>
        <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
            Can I change my plan later?
        </div>
        <div class="collapse-content">
            <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
        </div>
        <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
            What is your cancellation policy?
        </div>
        <div class="collapse-content">
            <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
        </div>
        <div class="collapse collapse-plus  bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
            Can other info be added to an invoice?
        </div>
        <div class="collapse-content">
            <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
        </div>
    </div>
    <div class="bg-[#005677] rounded-2xl p-3 mt-5 lg:w-[566px] flex mx-auto">
        <div class="bg-[#FFF9F2F5] landing-padding-x py-5 rounded-2xl flex flex-col gap-4 justify-center items-center">
        <div>
            <img src="assets/images/Avatar group.png" alt="">
        </div>
        <div class="flex flex-col justify-center items-center">
            <p class="text-[#005677] text-xl">Still have questions?</p>
            <p class="text-[#003A50] text-sm text-center">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
        </div>
        <app-button buttonText="Get Started" buttonStyles="w-[180px] xl:w-[246px] mt-4"></app-button>
        </div>
    </div>
</div>