:host {
    .atoka-password-options {
        .mat-mdc-chip {
            @apply font-extralight bg-slate-100 tracking-tight;
            font-size: 11px;

            &.success {
                @apply bg-green-100;

                .mat-icon {
                    @apply text-green-950;
                }

                --mdc-chip-label-text-color: #08875D;
            }
        }
    }

    ::ng-deep .control {
        .mat-mdc-form-field {
            @apply pt-2;
        }

        .mdc-text-field {
            @apply rounded-xl;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
            border-bottom: 0; //var(--mdc-filled-text-field-active-indicator-color);
        }
    }
}