
.mat-checkbox .mat-checkbox-frame {
  border-color: black;
  background-color: #dddddd
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin-top: 1px;
  margin-left: 1px;
  width: 18px;
  height: 18px;
}

:host {
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])
      ~ .mdc-checkbox__background {
      border-radius: 4px;
      border-color: rgba(255,255,255,0.8);
      background-color: transparent;
    }

  ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:focus:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
    border-radius: 4px;
    border-color: rgba(255,255,255,0.8);
    background-color: transparent;
  }

  ::ng-deep 
  .mdc-checkbox__ripple,
  .mdc-checkbox .mdc-checkbox__native-control:focus~.mdc-checkbox__ripple,
  .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:focus:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
    opacity: var(--mdc-checkbox-unselected-hover-state-layer-opacity);
    border-radius: 4px;
    border-color: rgba(255,255,255,0.8);
    background-color: transparent;
  }

  ::ng-deep .mat-mdc-checkbox .mdc-label {
    color: #fff;
  }
  ::ng-deep .control {
    .mat-mdc-form-field {
      @apply pt-2;
    }

    .mdc-text-field {
      @apply rounded-xl;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
      border-bottom: 0;
    }
  }
}
