<div class="grid grid-cols-12 h-screen">
  <div class="bg-onboarding col-span-12 md:col-span-6 lg:col-span-6 h-full w-full text-white">
    <div class="flex items-center justify-center h-full">
      <div class="">
        <div class="grid gap-3">
          <div class="flex w-full justify-center">
            <img
              src="assets/svg/logo.svg"
              alt="logo"
            />
          </div>
          <div class="flex flex-col justify-center gap-2">
            <p class="font-bold text-[48px] text-white text-center">Welcome!</p>
            <p class="text-center text-base text-white font-normal">Please enter details to continue</p>
          </div>
        </div>
        <div id="steps" class="atoka-form-steps pl-50 w-[396px] md:w-[auto] lg:w-[396px] pt-8">
          <form class="" [formGroup]="loginfrom">
            <mat-error *ngIf="message">{{ message }}</mat-error>

            <div class="grid gap-4">
              <div class="control">
                <mat-label class="text-sm">Username</mat-label>
                <mat-form-field
                  subscriptSizing="dynamic"
                  class="w-full rounded-xl"
                  appearance="fill"
                  floatLabel="always"
                >
                  <input
                    matInput
                    placeholder="Username"
                    type="text"
                    formControlName="username"
                    name="username"
                    id="username"
                  />
                  <mat-error>Please enter your username</mat-error>
                </mat-form-field>
              </div>

              <div class="control">
                <mat-label class="text-sm">Password</mat-label>
                <mat-form-field
                  subscriptSizing="dynamic"
                  class="w-full rounded-xl"
                  appearance="fill"
                  floatLabel="always"
                >
                  <input
                    matInput
                    formControlName="password"
                    placeholder="Password"
                    type="password"
                    name="password"
                    id="password"
                  />
                  <mat-error>Please enter your password</mat-error>
                </mat-form-field>
                
                <div class="flex flex-row justify-between text-white pt-1">
                  <mat-checkbox class="" formControlName="rememberMe">Remember me</mat-checkbox>
                  <div class="flex flex-col justify-center">
                    <a
                      class="text-white cursor-pointer text-sm font-bold"
                      href="javascript:void(0)"
                      rel=""
                      (click)="openForgotPasswordDialog()"
                    >
                      Forgot Password?
                    </a>
                  </div>
                </div>
              </div>

              <div class="flex flex-col items-center gap-y-6">
                <button
                  class="w-full"
                  type="button"
                  mat-flat-button
                  color="primary"
                  (click)="signIn()"
                  [disabled]="!loginfrom.valid"
                >
                  Login
                </button>
                <div>
                  <span class="text-sm text-[#EDEEF1]">I don't have an account? </span>                  
                  <a
                    href="javascript:void(0)"
                    (click)="signup()"
                    class="text-[#DA7B07] text-sm"
                    >Signup</a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-6 hidden md:block">
    <div class="flex flex-col space-y-5 h-full justify-center items-center">
      <div class="max-w-[400px]">
        <img class="w-full" src="assets/svg/login.svg" />
      </div>
      <div class="px-2">
        <div class="w-[301px] grid gap-4 text-center">
          <p class="font-bold leading-8 text-[#005677] text-[24px]">
            Easy Direction
          </p>
          <p class="text-[#01171F] font-normal text-center text-[16px]">
            Get direction and safety to any location in Nigeria
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loadingService.isLoading$ | async"></app-loader>
