<div class="">
  <div class="hero  !bg-[#F9FCFD7A] py-10 flex flex-col gap-4">
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="bg-[#DBF0F9] py-2 px-4 rounded-2xl justify-center items-center">
        <p class="whitespace-nowrap text-[#00ADEF]">Pricing plans</p>
      </div>
      <p class="font-bold text-2xl lg:text-[48px] mt-4">Plans for all sizes</p>
      <p class="mt-2">Simple, transparent pricing that grows with you. Try any plan free for 30 days.</p>
    </div>
    <div class="grid lg:grid-cols-3 py-5 md:py-10 gap-6">
      <div class="bg-white zoom-effect2 flex flex-col rounded-2xl md:w-[344px]">
        <div class="p-5 flex flex-col gap-4 justify-center items-center">
          <div>
            <img src="assets/images/strike.svg" alt="">
          </div>
          <p class="text-[#00ADEF] font-bold">Basic plan</p>
          <p class="text-2xl lg:text-[48px] font-bold">Free</p>
          <p>Billed annually.</p>
        </div>
        <div class="p-5 flex flex-col gap-4">
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Access to all basic features</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Basic reporting and analytics</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Up to 10 individual users</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>20GB individual data each user</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Basic chat and email support</p>
          </div>
        </div>
        <div class="bg-[#F9FAFB] py-5 rounded-b-xl">
          <app-button buttonText="Get Started" buttonStyles="w-[200px] flex mx-auto mt-4"></app-button>
        </div>
      </div>
      <div class="bg-white zoom-effect2 flex flex-col rounded-2xl md:w-[344px]">
        <div class="p-5 flex flex-col gap-4 justify-center items-center">
          <div>
            <img src="assets/images/strike.svg" alt="">
          </div>
          <p class="text-[#00ADEF] font-bold">Business  plan</p>
          <p class="text-2xl lg:text-[48px] font-bold">N20/mth</p>
          <p>Billed annually.</p>
        </div>
        <div class="p-5 flex flex-col gap-4">
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>200+ integrations</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Advanced reporting and analytics</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Up to 20 individual users</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>20GB individual data each user</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Basic chat and email support</p>
          </div>
        </div>
        <div class="bg-[#F9FAFB] py-5 rounded-b-xl">
          <app-button buttonText="Get Started" buttonStyles="w-[200px] flex mx-auto mt-4"></app-button>
        </div>
      </div>
      <div class="bg-white zoom-effect2 flex flex-col rounded-2xl md:w-[344px]">
        <div class="p-5 flex flex-col gap-4 justify-center items-center">
          <div>
            <img src="assets/images/strike.svg" alt="">
          </div>
          <p class="text-[#00ADEF] font-bold">Enterprise plan</p>
          <p class="text-2xl lg:text-[48px] font-bold">N40/mth</p>
          <p>Billed annually.</p>
        </div>
        <div class="p-5 flex flex-col gap-4">
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Advanced custom fields</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Audit log and data history</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Unlimited individual data</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Unlimited individual data</p>
          </div>
          <div class="flex gap-1 items-center">
            <img src="assets/images/check.svg" alt="">
            <p>Personalised+priotity service</p>
          </div>
        </div>
        <div class="bg-[#F9FAFB] py-5 rounded-b-xl">
          <app-button buttonText="Get Started" buttonStyles="w-[200px] flex mx-auto mt-4"></app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-10 lg:py-20 bg-white">
    <div class="flex flex-col justify-center items-center gap-4 ">
      <p class="font-bold text-3xl lg:text-[48px] text-[#003A50]">How does our free plan work</p>
      <p class="leading-6 text-sm lg:text-center max-w-[660px]">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data.</p>
    </div>
  </div>

  <!--  -->
  <app-faq></app-faq>
  <!--  -->
  <app-get-mobile></app-get-mobile>
  <!--  -->
  <app-support-contact></app-support-contact>
  <!--  -->
  <app-newsletter></app-newsletter>
</div>
