<div class="">
  <div class="max-w-[1440px] grid lg:grid-cols-[50%_50%] gap-4 lg:gap-6 py-5 lg:py-0 !bg-white lg:h-[calc(100vh - 80px)] overflow-hidden">
    <div class="flex flex-col px-5 lg:pl-20 gap-4 lg:justify-center md:w-[604px]">
      <p class="text-2xl md:text-[50px] lg:text-[62px] text-[#00739F] leading-[40px] md:leading-[80px] font-bold lg:w-[600px]">Address Verification And
        <span class="text-[#DA7B07] relative">Geocoding
          <div class="absolute top-0 right-0 bottom-0 left-0 z-10">
            <img src="assets/images/purple-vector.svg" alt="">
          </div>
      </span>
      Technology</p>
      <p class="leading-6 lg:w-[570px] text-sm">Our range of address verification and unique property identification products provide a faster, easier way to Verify and enrich data.</p>
      <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4 bg-[#0090C7]"></app-button>
    </div>
    <div class="lg:py-4">
      <img src="assets/images/home-1.svg" alt="" class="w-full">
    </div>
  </div>
  <!-- Second -->
  <div class="!bg-[#FBFEFF] py-10 landing-padding-x">
    <div class="flex flex-col gap-4">
      <p class="text-[#DA7B07] font-bold text-base leading-6 tracking-widest">Feature product</p>
      <p class="font-bold text-2xl lg:text-[48px] leading-10 lg:leading-[56px] text-[#00739F]">Our product and service</p>
      <p class="text-[#01171F] lg:w-[766px]">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data. </p>
    </div>
    <div class="circle-dot">
      <div class="grid lg:grid-cols-3 py-5 md:py-10 mt-4 xl:px-10">
        <div class="zoom-effect bg-white rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px]">
          <div>
            <img src="assets/images/street.png" alt="">
          </div>
          <p class="font-bold text-lg lg:text-2xl">Street level verification</p>
          <p>Quick and easy way to keep track of your transaction</p>
          <p class="mt-2 font-bold" routerLink="/verify-address">Learn more</p>
        </div>
        <div class="zoom-effect bg-white rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px]">
          <div>
            <img src="assets/images/emal.png" alt="">
          </div>
          <p class="font-bold  text-lg lg:text-2xl text-[#003A50]">Email verification</p>
          <p class="text-[#005677]">Quick and easy way to keep track of your transaction</p>
          <p class="mt-2 font-bold text-[#00ADEF]" routerLink="/verify-address">Learn more</p>
        </div>
        <div class="zoom-effect bg-white rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px]">
          <div>
            <img src="assets/images/address.png" alt="">
          </div>
          <p class="font-bold  text-lg lg:text-2xl text-[#643803]">Address verification</p>
          <p class="text-[#5B3406]">Quick and easy way to keep track of your transaction</p>
          <p class="mt-2 font-bold text-[#DA7B07]" routerLink="/address-verification">Learn more</p>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>
  </div>
  <!-- Third -->
  <div class="flex flex-col gap-4 justify-center items-center py-5 landing-padding-x !bg-white">
    <p class="mb-6 text-[#475569]">Join over 200+ companies already using ATOKA</p>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:place-items-center">
      <div>
        <img src="assets/images/waverio.svg" alt="">
      </div>
      <div>
        <img src="assets/images/logoipsum.svg" alt="">
      </div>
      <div>
        <img src="assets/images/alterbone.svg" alt="">
      </div>
      <div>
        <img src="assets/images/carbonia.svg" alt="">
      </div>
      <div>
        <img src="assets/images/tinygone.svg" alt="">
      </div>
      <div>
        <img src="assets/images/preso.svg" alt="">
      </div>
      <div>
        <img src="assets/images/ridoria.svg" alt="">
      </div>
      <div>
        <img src="assets/images/incanto.svg" alt="">
      </div>
    </div>
  </div>
  <!-- fourth -->
  <div class=" !bg-[#FCFCFC] all-in-one-background py-10 lg:py-20 grid lg:grid-cols-2 gap-4 lg:gap-6">
    <div class="flex flex-col gap-4 justify-center landing-padding-x">
      <p class="text-[#005677] font-bold text-2xl lg:text-[40px] leading-10 lg:leading-[45px] lg:w-[450px]">All in one platform empowering all addressing system globally.</p>
      <p class="text-[#01171F] leading-[21px]">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data. </p>
      <app-button buttonText="Get Started" buttonStyles="w-[200px] xl:w-[240px] mt-4"></app-button>
    </div>
    <div class="px-4 lg:px-0 w-full">
      <img src="assets/images/home-2.svg" alt="" class="w-full">
    </div>
  </div>
  <!-- fifth -->
  <div class="!bg-white py-10 lg:py-20 landing-padding-x">
    <div class="flex flex-col gap-4 mb-4 lg:mb-0">
      <p class="text-base leading-6 tracking-widest">Testimony</p>
      <p class="font-semibold text-2xl lg:text-[40px] leading-10 lg:leading-[44px] text-[#005677] lg:w-[500px]">What are our client saying about us</p>
      <p class="text-[#667085] max-w-[515px]">Everything you need to know about the product and billing.</p>
    </div>
    <div class="flex flex-col relative lg:!mb-10">
      <div class=" flex flex-col lg:flex-row gap-4 lg:gap-6 py-5 md:py-10 justify-end">
       <div class="zoom-effect3 rounded-3xl bg-white flex flex-col justify-center items-center gap-2 text-[#1A124C] lg:w-[396px]">
          <div class="bg-[#D9D9D9] rounded-full w-[82px] h-[82px]">
          </div>
          <p class="font-bold text-xl text-[#003A50]">Favour Oluwale</p>
          <p class="text-[#003A50]">Product designer</p>
          <p class="text-center text-[#667085] lg:w-[380px] mt-2">Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.</p>
          <div class="mt-2">
            <img src="assets/images/star.png" alt="">
          </div>
        </div>
        <div class="zoom-effect3 rounded-3xl bg-white flex flex-col justify-center items-center gap-2 text-[#1A124C] lg:w-[396px]">
          <div class="bg-[#D9D9D9] rounded-full w-[82px] h-[82px]">
          </div>
          <p class="font-bold text-xl text-[#003A50]">Favour Oluwale</p>
          <p class="text-[#003A50]">Product designer</p>
          <p class="text-center text-[#667085] lg:w-[380px] mt-2">Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly routed to email without confusion.</p>
          <div class="mt-2">
            <img src="assets/images/star.png" alt="">
          </div>
        </div>
      </div>
      <div class="flex justify-center lg:absolute lg:left-[65%] lg:top-[100%]">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>
  </div>
  <!-- sixth -->
  <div class="!bg-[#003A50] choose py-10 lg:py-20 landing-padding-x text-white">
    <div class="flex flex-col justify-center items-center gap-4 ">
      <p class="text-white font-bold text-2xl lg:text-4xl">Why choose us</p>
      <p class="text-white max-w-[500px] leading-6 text-sm text-center font-normal">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data.</p>
    </div>
    <div class="md:px-10 lg:px-16 flex flex-col gap-6 lg:py-20">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[282px]">
          <div>
            <img src="assets/images/blue-mail.svg" alt="">
          </div>
          <p class="font-semibold text-base  text-white">Share team inboxes</p>
          <p class="leading-6 md:text-center text-white lg:w-[300px]">Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</p>
        </div>
        <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[282px]">
          <div>
            <img src="assets/images/instant-icon.svg" alt="">
          </div>
          <p class="font-semibold text-base text-white">Deliver instant answers</p>
          <p class="leading-6 md:text-center text-white lg:w-[300px]">An all-in-one customer service platform that helps you balance everything your customers need to be happy.</p>
        </div>
        <div class="flex flex-col md:justify-center md:items-center gap-4">
          <div>
            <img src="assets/images/report-icon.svg" alt="">
          </div>
          <p class="font-semibold text-base lg:whitespace-nowrap text-white">Manage your Property with reports</p>
          <p class="leading-6 md:text-center text-white lg:w-[350px]">Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.</p>
        </div>
      </div>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4 md:mt-10 lg:mt-14">
        <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[282px]">
          <div>
            <img src="assets/images/blue-mail.svg" alt="">
          </div>
          <p class="font-semibold text-base  text-white">Share team inboxes</p>
          <p class="leading-6 md:text-center text-white lg:w-[300px]">Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</p>
        </div>
        <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[282px]">
          <div>
            <img src="assets/images/instant-icon.svg" alt="">
          </div>
          <p class="font-semibold text-base text-white">Deliver instant answers</p>
          <p class="leading-6 md:text-center text-white lg:w-[300px]">An all-in-one customer service platform that helps you balance everything your customers need to be happy.</p>
        </div>
        <div class="flex flex-col md:justify-center md:items-center gap-4">
          <div>
            <img src="assets/images/report-icon.svg" alt="">
          </div>
          <p class="font-semibold text-base lg:whitespace-nowrap text-white">Manage your Property with reports</p>
          <p class="leading-6 md:text-center text-white lg:w-[350px]">Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- seventh -->
  <div class="py-10 lg:py-20 landing-padding-x !bg-[#FBFBFF]">
    <div class="flex flex-col justify-center items-center gap-4">
      <p class="text-2xl lg:text-[40px] font-semibold text-[#005677]">Frequently asked questions</p>
      <p clas="text-[#667085] font-bold lg:text-base">Everything you need to know about the product and billing.</p>
    </div>
    <div class="container mx-auto lg:w-[818px] py-10">
      <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3" checked="checked" />
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          Is there a free trial available?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>

      <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          Can I change my plan later?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
      <div class="collapse collapse-plus bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          What is your cancellation policy?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
      <div class="collapse collapse-plus  bg-inherit">
        <input type="radio" name="my-accordion-3"/>
        <div class="collapse-title text-xl text-[#005677] font-semibold">
          Can other info be added to an invoice?
        </div>
        <div class="collapse-content">
          <p class="text-[#667085] w-[639px]">Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible. </p>
        </div>
      </div>
    </div>
    <div class="bg-[#005677] rounded-2xl p-3 mt-5 lg:w-[566px] flex mx-auto">
      <div class="bg-[#FFF9F2F5] landing-padding-x py-5 rounded-2xl flex flex-col gap-4 justify-center items-center">
        <div>
          <img src="assets/images/Avatar group.png" alt="">
        </div>
        <div class="flex flex-col justify-center items-center">
          <p class="text-[#005677] text-xl">Still have questions?</p>
          <p class="text-[#003A50] text-sm text-center">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
        </div>
        <app-button buttonText="Get Started" buttonStyles="w-[180px] xl:w-[246px] mt-4"></app-button>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="!bg-[#003A50] phone pt-10 landing-padding-x grid lg:grid-cols-2 gap-6">
    <div>
      <img src="assets/images/phone.png" alt="">
    </div>
    <div class="flex flex-col gap-2 text-white justify-center ">
      <p class="text-base font-semibold text-white">TRY ON MOBILE</p>
      <p class="text-2xl lg:text-[40px] lg:leading-[68px] lg:w-[400px] text-white">Download our app for free</p>
      <div class="flex flex-col md:flex-row gap-4 mb-6 lg:mb-0">
        <div>
          <img src="assets/images/applestore.svg" alt="">
        </div>
        <div>
          <img src="assets/images/playstore.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="location !bg-white py-10 lg:py-20 landing-padding-x">
    <div class="flex flex-col gap-4 justify-center items-center">
      <p class="text-xl text-[40px] font-semibold text-[#005677]">We’re located in every part of the country</p>
      <p class="text-[#667085] text-base">Everything you need to know about the product and billing.</p>
    </div>
    <div class="flex w-full justify-center my-5 lg:my-12">
      <img src="assets/images/map.svg" alt="" class="w-full">
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 lg:place-items-center py-4">
      <div class="flex flex-col gap-2 justify-center items-center">
        <p class="text-[#101828] font-semibold text-lg lg:text-xl">Support</p>
        <p class="text-[#667085] text-base">Our friendly team is here to help.</p>
        <p class="mt-4 text-[#DA7B07] font-semibold text-base">support&#64;ATOKA.com</p>
      </div>
      <div class="flex flex-col gap-2 justify-center items-center">
        <p class="text-[#101828] font-semibold text-lg lg:text-xl">Sales</p>
        <p class="text-[#667085] text-base">Questions or queries? Get in touch!</p>
        <p class="mt-4 text-[#DA7B07] font-semibold text-base">sales&#64;ATOKA.com</p>
      </div>
      <div class="flex flex-col gap-2 justify-center items-center">
        <p class="text-[#101828] font-semibold text-lg lg:text-xl">Phone</p>
        <p class="text-[#667085] text-base">Mon-Fri from 8am to 5pm.</p>
        <p class="mt-4 text-[#DA7B07] font-semibold text-base">+234 (980) 580-0980</p>
      </div>
    </div>
  </div>
  <!--  -->
 <app-newsletter></app-newsletter>
</div>
