<div class="dialog-card">
  @if (!isSuccess) {
    <div class="flex items-start justify-between gap-4">
      <div class="flex flex-col text-[#005677] gap-2 mb-4 w-full items-center">
        <p class="font-bold text-center text-3xl text-[#003A50]">Change password</p>
        <p class="text-base text-center max-w-[380px] text-[#005677] font-semibold">
          Enter new password
        </p>
      </div>
    </div>

    <p *ngIf="message" class="text-sm text-center font-light text-red-500 mb-4">
      {{ message }}
    </p>

    <form class="grid gap-1 mt-4" [formGroup]="form">
      <div class="control">
        <mat-label class="text-sm">Current password</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input
            placeholder="Please enter your current password"
            matInput
            [type]="hideCurrent ? 'password' : 'text'"
            formControlName="currentPassword"
          />
          <button type="button" mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent">
            <mat-icon>{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('currentPassword')?.hasError('required')">
            Current password is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="control">
        <mat-label class="text-sm">New password</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input
            #newPassword
            placeholder="Please enter your new password"
            matInput
            [type]="hideNew ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew">
            <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
            New password is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex flex-col mb-4">
        <p class="text-xs text-[#667085]">Password must contain</p>
        <mat-chip-listbox class="atoka-password-options">
          <mat-chip selected [ngClass]="{ success: regex.hasUppercase.test(newPassword.value) }">
            @if (regex.hasUppercase.test(newPassword.value)) {
              <button matChipRemove><mat-icon>check</mat-icon></button>
            }
            upper Case
          </mat-chip>
          <mat-chip [ngClass]="{ success: regex.hasLowercase.test(newPassword.value) }">
            @if (regex.hasLowercase.test(newPassword.value)) {
              <button matChipRemove><mat-icon>check</mat-icon></button>
            }
            lower Case
          </mat-chip>
          <mat-chip [ngClass]="{ success: regex.hasNumeric.test(newPassword.value) }">
            @if (regex.hasNumeric.test(newPassword.value)) {
              <button matChipRemove><mat-icon>check</mat-icon></button>
            }
            Numeric
          </mat-chip>
          <mat-chip [ngClass]="{ success: regex.specialChar.test(newPassword.value) }">
            @if (regex.specialChar.test(newPassword.value)) {
              <button matChipRemove><mat-icon>check</mat-icon></button>
            }
            Special character
          </mat-chip>
        </mat-chip-listbox>
      </div>

      <div class="control">
        <mat-label class="text-sm">Confirm password</mat-label>
        <mat-form-field class="w-full rounded-xl" appearance="fill" floatLabel="always">
          <input
            placeholder="Please confirm your new password"
            matInput
            [type]="hideConfirm ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm">
            <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
            Please confirm your password.
          </mat-error>
          <mat-error *ngIf="form.hasError('notmatched') && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">
            Password entered does not match.
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <div class="flex justify-center mt-6">
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="w-full"
        (click)="submit()"
        [disabled]="
          form.invalid ||
          isSubmitting ||
          !regex.hasUppercase.test(newPassword.value) ||
          !regex.hasLowercase.test(newPassword.value) ||
          !regex.hasNumeric.test(newPassword.value) ||
          !regex.specialChar.test(newPassword.value)
        "
      >
        Next
      </button>
    </div>
  } @else {
    <div class="items-center grid grid-cols-1 p-5">
      <div class="flex flex-col text-[#005677] gap-2 mb-4 w-full items-center">
        <p class="font-bold text-center text-3xl text-[#003A50]">Change Password</p>
      </div>
      <div class="flex flex-col justify-center items-center gap-8 pt-5">
        <img src="assets/images/thumbs-up.svg"/>
        <div class="flex flex-col items-center gap-2 w-full">
          <h1 class="font-semibold text-xl text-[#005677]">Password Changed Successfully!</h1>
          <p class="text-sm font-light text-[#003A50]">You've successfully changed your password.</p>
        </div>
      </div>
    </div>
  }
</div>

<app-loader *ngIf="loadingService.isLoading$ | async"></app-loader>
