<div class="card bg-white rounded-lg p-6 justify-between w-full">
  <h2 class="text-base mb-4 text-gray-500">{{ title }}</h2>
  <div class="flex justify-between mt-1">
    <div class="grid gap-4">
      <h1 class="font-bold text-3xl">
        {{ value }}
      </h1>
    </div>
    <div class="flex">            
      <span class="text-base flex">
        <span
          class="me-1 flex items-end"
          [ngClass]="{
            'text-red-500': direction === 'down',
            'text-green-500': direction === 'up'
          }"
        >
          <mat-icon>
            {{ direction === 'down' ? 'arrow_downward' : 'arrow_upward' }}
          </mat-icon>
          <span>{{ percentage }}%</span>
        </span>
        <span class="text-gray-500 self-end text-xs">
          vs last month
        </span>
      </span>
    </div>
  </div>
</div>