::ng-deep .mat-autocomplete-panel#md-autocomplete-0 {
  border: 3px solid #7ad3f0d9 !important;
  border-radius: 10px;
  background-color: green;
}

::ng-deep .mat-autocomplete-panel#md-autocomplete-1 {
  border: none !important;
  border-radius: 10px;
  background-color: #7ad3f0d9;
}
