<div class="">
  <div class="!bg-white lg:h-[calc(100vh - 80px)] landing-padding-x">
    <div class="grid lg:grid-cols-2 py-5 gap-4">
      <div class="flex flex-col gap-4 justify-center py-4">
        <div class="rounded-xl bg-[#DDFFD980] py-2 flex justify-center w-[99px]">
          <p class="font-extrabold whitespace-nowrap text-[#02934D]">Government</p>
        </div>
        <p class="text-2xl lg:text-[48px] text-[#042800] leading-[40px] lg:leading-[80px] font-bold max-w[604px]">Our unique solutions for Government parastates</p>
        <p class="leading-6 text-left">The fastest, easiest and the most reliable way to check businesses and locations with a single click</p>
        <app-button buttonText="Get Started"  buttonStyles="w-[200px] bg-[#125B0A] text-white mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/government-1.png" alt="" class="w-full">
      </div>
    </div>
  </div>
  <div class="py-10 lg:py-20 landing-padding-x bg-white">
    <p class="flex justify-center mx-auto font-bold text-2xl lg:text-4xl max-w-[850px] text-center leading-[43.21px]">ATOKA has helped different Government company build a business decision</p>

    <div class="border border-[#C2D2F1] rounded-xl bg-white flex flex-col gap-4 lg:flex-row my-10 lg:mx-20">
      <div class="w-full">
        <img src="assets/images/government-2.png" alt="" class="w-full">
      </div>
      <div class="flex flex-col gap-4 justify-center">
        <div>
          <img src="assets/images/easy.svg" alt="">
        </div>
        <p class="text-2xl font-semibold">Easy online student registration</p>
        <p>We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
      </div>
    </div>
  </div>
  <div class="landing-padding-x py-5 lg:py-20 !bg-[#FBFDFE]">
    <p class="flex justify-center md:text-center mx-auto leading-[60px] font-semibold text-3xl lg:text-3xl lg:w-[500px] items-center">Try Address verification with these other products</p>
    <div>
      <div class="grid lg:grid-cols-3 gap-4 py-5 md:py-10 lg:px-5">
        <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px] zoom-effect">
          <div>
            <img src="assets/images/street.png" alt="">
          </div>
          <p class="font-bold text-base">Street level verification</p>
          <p>Quick and easy way to keep track of your transaction</p>
          <p class="mt-5 font-bold">Learn more</p>
        </div>
        <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px] zoom-effect">
          <div>
            <img src="assets/images/emal.png" alt="">
          </div>
          <p class="font-bold text-base text-[#003A50]">Email verification</p>
          <p class="text-[#005677]">Quick and easy way to keep track of your transaction</p>
          <p class="mt-5 font-bold text-[#00ADEF]">Learn more</p>
        </div>
        <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px] zoom-effect">
          <div>
            <img src="assets/images/address.png" alt="">
          </div>
          <p class="font-bold text-base text-[#643803]">Address  verification</p>
          <p class="text-[#5B3406]">Quick and easy way to keep track of your transaction</p>
          <p class="mt-5 font-bold text-[#DA7B07]">Learn more</p>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>

  </div>
</div>
