/* For use in src/lib/core/theming/_palette.scss */
$md-atoka-primary: (
    50 : #e0f2f8,
    100 : #b3deee,
    200 : #80c8e3,
    300 : #00ADEF,
    400 : #26a1cf,
    500 : #0090c7,
    600 : #0088c1,
    700 : #007dba,
    800 : #0073b3,
    900 : #005677,
    A100 : #f2fafd,
    A200 : #9dd0ff,
    A400 : #6ab8ff,
    A700 : #51acff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-atoka-accent: (
  50 : #fbefe1,
  100 : #f4d7b5,
  200 : #edbd83,
  300 : #e5a351,
  400 : #e08f2c,
  500 : #da7b07,
  600 : #d67306,
  700 : #d06805,
  800 : #cb5e04,
  900 : #c24b02,
  A100 : #fff9f1,
  A200 : #ffceb8,
  A400 : #ffab85,
  A700 : #ff9a6b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);



