// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "./custom-palettes";
// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$atokang-primary: mat.define-palette($md-atoka-primary, 500, A100, 900);
$atokang-accent: mat.define-palette($md-atoka-accent, 500, A100, 900);

// The warn palette is optional (defaults to red).
$atokang-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$atokang-theme: mat.define-light-theme(
  (
    color: (
      primary: $atokang-primary,
      accent: $atokang-accent,
      warn: $atokang-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($atokang-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
@font-face {
  font-family: Averta-Black;
  src: url(assets/fonts/Averta/Averta/Averta-Black.otf) format("trueType");
}

@font-face {
  font-family: Averta-Bold;
  src: url(assets/fonts/Averta/Averta/Averta-Bold.otf) format("trueType");
}

@font-face {
  font-family: Averta-Extrathin;
  src: url(assets/fonts/Averta/Averta/Averta-Extrathin.otf) format("trueType");
}

@font-face {
  font-family: Averta-Light;
  src: url(assets/fonts/Averta/Averta/Averta-Light.otf) format("trueType");
}

@font-face {
  font-family: Averta;
  src: url(assets/fonts/Averta/Averta/Averta-Regular.otf) format("trueType");
}

@font-face {
  font-family: Averta-Semibold;
  src: url(assets/fonts/Averta/Averta/Averta-Semibold.otf) format("trueType");
}

@font-face {
  font-family: Averta-Thin;
  src: url(assets/fonts/Averta/Averta/Averta-Thin.otf) format("trueType");
}
body {
  margin: 0;
  font-family: "Averta", sans-serif;
  font-style: normal;

  p{
    color: #01171F;
  }
}

.landing-padding-x{
  @apply px-10 md:px-[50px] lg:px-[100px];
}

.landing-padding-y{
  @apply py-6 md:py-[50px] lg:py-[100px];
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.zoom-effect {
  transition: transform 0.4s ease;
  cursor: pointer;
}
.zoom-effect3 {
  transition: transform 0.2s ease;
  cursor: pointer;
}
.zoom-effect2 {
  transition: transform 0.4s ease;
  cursor: pointer;
}


.zoom-effect:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px 0px #094A6387;
  border: 1px solid #0090C7;
}
.zoom-effect3:hover {
  transform: scale(1.05);
  padding: 10px;
  box-shadow: 0px 4px 8px 0px #094A6387;
  border: 1px solid #0090C7;
}
.zoom-effect2:hover {
  transform: scale(1);
  box-shadow: 0px 4px 8px 0px #094A6387;
  border: #0090C7 1px solid;
}
.phone{
  background-image: url("/assets/images/phone-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.location{
  background-image: url("/assets/images/bro.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.hero{
  background-image: url("/assets/images/bro.svg");
  background-repeat: no-repeat;
  background-size: 90%;
}



/*
* Backend Styles
*/
body {
  margin: 0;
  // font-family: "c", sans-serif;
  a {
    @apply text-accent font-medium cursor-pointer;
  }

  .atoka-form-header {
    @apply flex flex-col items-center;
    .atoka-form-header-icon {
      @apply flex items-center mb-3 justify-center rounded-full text-center w-12 h-12 text-sm bg-accent-light text-accent transition-all duration-150;
      mat-icon {
        @apply text-3xl;
        line-height: 24px;
        width: 30px;
      }
    }
    @apply text-center;
    h1 {
      // @apply text-3xl font-bold mb-3 text-primary-dark;
      @apply text-5xl font-bold mb-3 text-primary-dark leading-[56px];
    }
    small {
      @apply text-sm;
    }
  }

  // Material overrides
  .backdrop {
    @apply bg-gray-500 bg-opacity-80;
  }
  .mat-mdc-dialog-container {
    .mdc-dialog__surface {
      // @apply p-8 px-20 rounded-2xl text-center;
      @apply rounded-2xl p-8 px-20 rounded-2xl;

      .otp-input {
        @apply bg-primary-light border border-primary rounded-lg font-bold text-base text-gray-500;
      }
    }

    .mdc-dialog__title {
      @apply text-primary-dark text-center text-3xl font-semibold;
      // font-family: "Roboto", sans-serif;
      letter-spacing: normal;
    }

    .mdc-dialog__actions {
      @apply gap-4;
    }
  }

  .mat-datepicker-content .mat-calendar {
    height: auto;
    font-size: 14px;
  }

  .mdc-button, .mat-mdc-unelevated-button {
    &:not(.mat-calendar-period-button):not(.modal-button) {
      @apply h-14 rounded-lg;
      min-width: 300px;
    }

    &.modal-button {
      @apply py-5 rounded-lg font-medium ring-2 transition-opacity duration-300 ring-primary-lighter bg-primary-lighter opacity-80 hover:opacity-100;

      &.mat-mdc-outlined-button {
        @apply ring-primary-lighter ring-2 bg-transparent;
      }
    }
  }

  .mat-mdc-unelevated-button.mat-primary.mdc-button--disabled,
  .mat-mdc-unelevated-button.mat-primary:disabled {
    @apply bg-primary opacity-60; 
  }
}

.page-wrapper {
  .mat-mdc-form-field {
    @apply mt-2 -mb-1;

    .mdc-text-field--filled {
      @apply rounded-lg;

      &:not(.mdc-text-field--disabled) {
        @apply bg-primary-light;
      }

      .mdc-line-ripple {
        @apply hidden;
      }
    }
  }

  .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
    @apply text-white;
  }
}

::ng-deep .mat-tab-label-active {
  background-color: blue !important;
}

.table-holder {
  overflow-x: auto !important;
}

/* Dashboard */
.dashboard {
  table {
    width: 100%;
  }
  .table-holder thead > tr > th {
    @apply font-semibold py-3 px-3 text-primary-dark whitespace-nowrap text-start;
  }

  .table-holder tbody > tr > td {
    @apply pb-5 pt-8 font-medium text-sm;
  }

  .table-holder table > thead > tr:first-child th:first-child {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  .table-holder table > thead > tr:first-child th:last-child {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  .table-holder tbody > tr > td:first-child  {
    padding-left: 4px;
  }
  .status{
    border-radius: 24px;
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    width: fit-content;
    font-size: 12px;

    &.successful{
      background: #1F932D;
    }
    &.draft {
      background: #CA8828;
    }
    &.failed {
      background: #D83A3A;
    }
    &.pending {
      background: #0090C7;
    }
  }
}