<div class="!bg-[#003A50] phone pt-10 landing-padding-x grid lg:grid-cols-2 gap-6">
    <div class="justify-center flex">
        <img src="assets/images/phone.png" alt="">
    </div>
    <div class="flex flex-col gap-2 text-white justify-center ">
        <p class="text-base font-semibold text-white">TRY ON MOBILE</p>
        <p class="text-2xl lg:text-[40px] lg:leading-[68px] lg:w-[400px] text-white">Download our app for free</p>
        <div class="flex flex-col md:flex-row gap-4 mb-6 lg:mb-0">
        <div>
            <img src="assets/images/applestore.svg" alt="">
        </div>
        <div>
            <img src="assets/images/playstore.svg" alt="">
        </div>
        </div>
    </div>
</div>