<div class="md:w-[488px] h-full justify-center text-[#01171F]">
  <div class="mt-[66px] text-center">
    <div class="grid gap-10 p-6 md:p-0">
      <div class="flex flex-col gap-4">
        <div class="w-full flex justify-center">
          <img
            src="assets/svg/directionpost.svg"
            alt="logo"
          />
        </div>
        <div
          class="grid gap-2 w-full justify-items-center">
          <p class="font-bold text-center text-[32px] text-[#003A50]">
            Enter Address
          </p>
          <p class="font-normal text-sm text-[#003A50]">
            Enter your address
          </p>
        </div>
      </div>
    
      <div class="text-left">
        <div [formGroup]="addAddressForm">
          <form class="">
            <p class="text-sm text-center font-light text-red-500" *ngIf="message">{{ message }}</p>
            <div class="grid gap-x-4">
              <app-atoka-search [labelName]="labelName" [addressCode]="addressCode" (returnCode)="setAddressCode($event)" (addressInfo)="setAddressInfo($event)"
              ></app-atoka-search>
              <div class="mt-3 mb-3 flex justify-center text-sm text-[#000000]">
                <a
                  href="javascript:void(0)" class="primary"
                  (click)="showForm()"
                  >Don't have ATOKA ? <b> Enter address manually</b></a>
              </div>
              <app-address-form
                [hideForm]="hideForm"
                [prefilledAddress]="selectedAddressInfo"
                [readOnly]="isAddressFormReadOnly"
                (showFormState)="setHideForm($event)"
                (formMessage)="message = $event"
              ></app-address-form>
            </div>
            <div>
              <div class="control">
                <mat-label class="text-sm">
                  When did you move to this address?
                </mat-label>
                <mat-form-field
                  subscriptSizing="dynamic"
                  class="w-full rounded-xl mb-3"
                  appearance="fill"
                  floatLabel="always"
                >
                  <input formControlName="startFrom"
                    (click)="moveDate.open()"
                    (focus)="moveDate.open()"
                    placeholder="Select Date"
                    matInput
                    [matDatepicker]="moveDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="moveDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #moveDate></mat-datepicker>
                  <mat-error>Please select move date</mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col items-center mt-8 gap-y-4">
                <button
                  class="font-[16px] mb-12 w-full"
                  type="button"
                  mat-flat-button
                  color="primary "
                  [disabled]="this.addAddressForm.invalid"
                  (click)="addAddress()"
                >
                  Continue
                  <app-loader *ngIf="loadingService.isLoading$ | async"></app-loader>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loadingService.isLoading$ | async"></app-loader>

