<footer class="landing-padding-x h-auto lg:h-[440px] bg-[#003A50] pt-10 pb-5 text-white">
  <div class="grid md:grid-cols-[35%_65%] md:mt-5 gap-4">
    <div class="cursor-pointer" routerLink="/"  >
      <img src="assets/images/logo.png" alt="">
    </div>


    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div class="flex flex-col gap-4 md:gap-6 cursor-pointer">
        <p class="text-[#EDEFF5] font-semibold text-base  md:text-xl">Website Links</p>
        <p class="hover:text-[#0090C7] text-white" routerLink="/">Home</p>
        <p class="hover:text-[#0090C7] text-white">About</p>
        <p class="hover:text-[#0090C7] text-white">Get in touch</p>
        <p class="hover:text-[#0090C7] text-white">FAQs</p>
      </div>
      <div class="flex flex-col gap-4 md:gap-6 cursor-pointer">
        <p class="text-[#EDEFF5] font-semibold text-base  md:text-xl">Services</p>
        <p class="hover:text-[#0090C7] text-white">Architecture</p>
        <p class="hover:text-[#0090C7] text-white">Buildings</p>
        <p class="hover:text-[#0090C7] text-white">3d maps</p>
        <p class="hover:text-[#0090C7] text-white">Stucture design</p>
      </div>
      <div class="flex flex-col gap-4 md:gap-6 cursor-pointer">
        <p class="text-[#EDEFF5] font-semibold text-base  md:text-xl">Developers</p>
        <p class="hover:text-[#0090C7] text-white">Features</p>
        <p class="hover:text-[#0090C7] text-white">Testimonials</p>
        <p class="hover:text-[#0090C7] text-white">Referrals</p>
      </div>
    </div>
  </div>
  <div class="border border-[#DFDFDF] mt-10 lg:mt-20"></div>
  <div class="flex flex-col gap-4 md:flex-row justify-between pt-5">
    <p class="text-white">© Copyright 2023, All Rights Reserved by ATOKA</p>
    <div class="flex gap-4 relative cursor-pointer">
      <img src="assets/images/twitter.svg" alt="">
      <img src="assets/images/google.svg" alt="">
      <img src="assets/images/facebook.svg" alt="">
    </div>
    <!-- <img src="assets/images/overlay.svg" alt="" class="absolute bottom-0 right-0"> -->
  </div>
</footer>
