<div class="">
  <div class="!bg-white lg:h-[calc(100vh - 80px)]">
    <div class="grid lg:grid-cols-2 gap-4">
      <div class="flex flex-col gap-4 justify-center py-4 pl-10 lg:pl-20">
        <div class="rounded-xl bg-[#AAE4FA30] py-2 flex justify-center w-[99px]">
          <p class="font-extrabold whitespace-nowrap text-[#00ADEF]">Education</p>
        </div>
        <p class="text-4xl lg:text-[62px] text-[#005677] leading-[40px] lg:leading-[80px] font-bold max-w[604px]">Solution for Education</p>
        <p class="leading-6 lg:w-[650px]">Student enrolment is simplified. Whether for fee paymentor for scholarship purposes, using ATOKA for basic fact checking can quickly and easily provide bona fides of a student's previous school and background.</p>
        <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/amico.png" alt="" class="w-full">
      </div>
    </div>
  </div>
  <!--  -->
  <div class="py-10 lg:py-20">
    <p class="flex justify-center mx-auto leading-[43.21px] font-semibold text-2xl lg:text-4xl lg:w-[780px] items-center text-center">Superior Technology For Quality Assurance and accurate verification</p>
    <div class="py-10 lg:pl-20">
      <img src="assets/images/quality-assurance.png" alt="" class="w-fit">
    </div>
  </div>
  <!--  -->
  <div class="landing-padding-x !bg-white">
    <div class="flex flex-col gap-4 justify-center items-center">
      <p class="text-[#003A50] font-semibold text-3xl lg:text-[48px]">How it works</p>
      <p>See how you can improve your Address verification system with a single demo</p>
    </div>
    <div class="flex flex-col lg:flex-row py-10 justify-center">
      <div class="py-8">
        <img src="assets/images/green-address.png" alt="" class="w-full">
      </div>
      <div class="hidden lg:flex justify-center items-center">
        <img src="assets/images/arrow.png" alt="" class="w-full">
      </div>
      <div>
        <img src="assets/images/black-address.png" alt="" class="">
      </div>
    </div>
  </div>
  <!-- -->
  <div class="landing-padding-x py-5 lg:py-20 bg-[#FBFDFE]">
    <p class="flex justify-center md:text-center mx-auto leading-[60px] font-semibold text-3xl lg:text-3xl lg:w-[500px] items-center">Try Address verification with these other products</p>
    <div>
      <div class="grid lg:grid-cols-3 gap-4 py-5 md:py-10 lg:px-5">
        <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px] zoom-effect">
          <div>
            <img src="assets/images/street.png" alt="">
          </div>
          <p class="font-bold text-base">Street level verification</p>
          <p>Quick and easy way to keep track of your transaction</p>
          <p class="mt-5 font-bold">Learn more</p>
        </div>
        <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px] zoom-effect">
          <div>
            <img src="assets/images/emal.png" alt="">
          </div>
          <p class="font-bold text-base text-[#003A50]">Email verification</p>
          <p class="text-[#005677]">Quick and easy way to keep track of your transaction</p>
          <p class="mt-5 font-bold text-[#00ADEF]">Learn more</p>
        </div>
        <div class="rounded-2xl bg-white flex flex-col gap-4 text-[#1A124C] p-5 shadow-md lg:w-[343px] zoom-effect">
          <div>
            <img src="assets/images/address.png" alt="">
          </div>
          <p class="font-bold text-base text-[#643803]">Address  verification</p>
          <p class="text-[#5B3406]">Quick and easy way to keep track of your transaction</p>
          <p class="mt-5 font-bold text-[#DA7B07]">Learn more</p>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img src="assets/images/carousel-button.svg" alt="">
      </div>
    </div>

  </div>
</div>
