.choose{
  background-image: url("/assets/images/choose-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.circle-dot{
  background-image: url("/assets/images/cirlce-dot.svg");
  background-repeat: no-repeat;
  background-size: contain;
}