<div>
  <div class="hero lg:h-[calc(100vh-86px)] !bg-[#F6FBFD] landing-padding-x justify-start">
    <div class="circle-dot">
      <div class="grid lg:grid-cols-2 py-5 lg:py-10 gap-4">
        <div class="flex flex-col gap-4 justify-center py-4">
          <div class="rounded-xl bg-[#AAE4FA30] py-2 flex justify-center w-[120px]">
            <p class="font-extrabold whitespace-nowrap text-[#005677] ">Developer</p>
          </div>
          <p class="text-4xl lg:text-[48px] text-[#005677] leading-[40px] lg:leading-[60px] font-extrabold max-w-[604px]">Explore our guides and examples to integrate ATOKA.</p>
          <p class="leading-6 text-[#01171F] lg:w-[550px]">Location and address verification is vital for business and for personal use. ATOKA gives you the power to get to the place your goods and services need to be and you need to see</p>
          <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4"></app-button>
        </div>
        <div>
          <!-- <img src="assets/images/product-1.png" alt="" class="w-full"> -->
        </div>
      </div>
    </div>
  </div>
  <!-- two -->
  <div class="landing-padding-x py-5 lg:py-20 !bg-white">
    <p class="flex justify-center mx-auto font-extrabold leading-[58px] text-2xl lg:text-[48px] text-[#035170] lg:w-[820px] text-center">Explore our guides and examples to integrate ATOKA.</p>
    <div class="flex justify-center py-5 lg:py-10 mt-5">
      <img src="assets/images/developer-2.png" alt="" >
    </div>
    <div class="justify-around flex py-5 md:py-10">
    <div class="grid lg:grid-cols-3 gap-6 lg:gap-10">
      <div class="rounded-2xl flex flex-col gap-4 text-[#2713A7] p-5 border border-[#DDDAEE] md:max-w-[366px] lg:max-w-[406px]">
        <div>
          <img src="assets/images/purple.svg" alt="">
        </div>
        <p class="font-bold text-2xl text-[#2713A7]">Api implementation</p>
        <p class="text-[#130855]">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
        <p class="mt-5 font-bold text-[#281980] flex gap-2 items-center">Learn more <span>
          <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 1.08617C0.683417 0.695643 1.31658 0.695643 1.70711 1.08617L7.70711 7.08617C8.09763 7.47669 8.09763 8.10986 7.70711 8.50038L1.70711 14.5004C1.31658 14.8909 0.683417 14.8909 0.292893 14.5004C-0.0976311 14.1099 -0.0976311 13.4767 0.292893 13.0862L5.58579 7.79327L0.292893 2.50038C-0.0976311 2.10986 -0.0976311 1.47669 0.292893 1.08617Z" fill="#7568C8"/>
            </svg>
        </span> </p>
      </div>
      <div class="rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 border border-[#D02F2FF] md:max-w-[366px] lg:max-w-[406px]">
        <div>
          <img src="assets/images/blue.svg" alt="">
        </div>
        <p class="font-bold text-2xl text-[#0090C7]">Support Guide</p>
        <p class="text-[#003A50]">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
        <p class="mt-5 font-bold text-[#0090C7] flex gap-2 items-center">Learn more <span>
          <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 1.08617C0.683417 0.695643 1.31658 0.695643 1.70711 1.08617L7.70711 7.08617C8.09763 7.47669 8.09763 8.10986 7.70711 8.50038L1.70711 14.5004C1.31658 14.8909 0.683417 14.8909 0.292893 14.5004C-0.0976311 14.1099 -0.0976311 13.4767 0.292893 13.0862L5.58579 7.79327L0.292893 2.50038C-0.0976311 2.10986 -0.0976311 1.47669 0.292893 1.08617Z" fill="#1D8EBB"/>
            </svg>
        </span></p>
      </div>
      <div class="rounded-2xl flex flex-col gap-4 text-[#1A124C] p-5 border border-[#FBEAD6] md:max-w-[366px] lg:max-w-[406px]">
        <div>
          <img src="assets/images/orange.svg" alt="">
        </div>
        <p class="font-bold text-2xl text-[#000000]">API Testing</p>
        <p class="text-[#000000]">We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
        <p class="mt-5 font-bold text-[#00ADEF]  flex gap-2 items-center">Learn more <span>
          <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 1.08617C0.683417 0.695643 1.31658 0.695643 1.70711 1.08617L7.70711 7.08617C8.09763 7.47669 8.09763 8.10986 7.70711 8.50038L1.70711 14.5004C1.31658 14.8909 0.683417 14.8909 0.292893 14.5004C-0.0976311 14.1099 -0.0976311 13.4767 0.292893 13.0862L5.58579 7.79327L0.292893 2.50038C-0.0976311 2.10986 -0.0976311 1.47669 0.292893 1.08617Z" fill="#1D8EBB"/>
            </svg>
        </span></p>
      </div>
    </div>
    </div>
  </div>
  <!-- three -->
  <div class="!bg-[#003A50] choose py-10 lg:py-20 landing-padding-x text-white">
    <div class="flex flex-col justify-center items-center gap-4 ">
      <p class="text-white font-bold text-2xl lg:text-4xl">Why choose us</p>
      <p class="text-white max-w-[500px] leading-6 text-sm text-center font-normal">ATOKA combines commercially available data with our own research ans servery data. with our own research ans servery data.</p>
    </div>
    <div class="md:px-10 lg:px-16 flex flex-col gap-6 lg:py-20 py-10">
      <div class="justify-around flex px-10">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 justify-center place-items-center gap-12">
          <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[285px]">
            <div>
              <img src="assets/images/blue-mail.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Share team inboxes</p>
            <p class="leading-6 md:text-center text-white text-[14px]">Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[285px]">
            <div>
              <img src="assets/images/instant-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Deliver instant answers</p>
            <p class="leading-6 md:text-center text-white text-[14px]">An all-in-one customer service platform that helps you balance everything your customers need to be happy.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[285px]">
            <div>
              <img src="assets/images/report-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Manage your Property with reports</p>
            <p class="leading-6 md:text-center text-white text-[14px]">Measure what matters with Untitled's easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[285px]">
            <div>
              <img src="assets/images/blue-mail.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Share team inboxes</p>
            <p class="leading-6 md:text-center text-white text-[14px]">Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[285px]">
            <div>
              <img src="assets/images/instant-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Deliver instant answers</p>
            <p class="leading-6 md:text-center text-white text-[14px]">An all-in-one customer service platform that helps you balance everything your customers need to be happy.</p>
          </div>
          <div class="flex flex-col md:justify-center md:items-center gap-4 lg:w-[285px]">
            <div>
              <img src="assets/images/report-icon.svg" alt="">
            </div>
            <p class="font-semibold text-base lg:whitespace-nowrap text-white text-[16px]">Manage your Property with reports</p>
            <p class="leading-6 md:text-center text-white text-[14px]">Measure what matters with Untitled's easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks.</p>
          </div>
        </div>
     </div>
    </div>
  </div>
  <!-- -->
  <app-faq></app-faq>
  <!--  -->
  <app-get-mobile></app-get-mobile>
  <!--  -->
  <app-support-contact></app-support-contact>
  <!--  -->
 <app-newsletter></app-newsletter>
</div>
