<div class="">
  <div class="!bg-white lg:h-[calc(100vh - 80px)] landing-padding-x">
    <div class="grid lg:grid-cols-2 py-5 gap-4">
      <div class="flex flex-col gap-4 justify-center py-4">
        <div class="rounded-xl bg-[#AAE4FA30] py-2 flex justify-center w-[99px]">
          <p class="font-extrabold whitespace-nowrap text-[#2D1B9B]">FINTECH</p>
        </div>
        <p class="text-4xl lg:text-[62px] text-[#221957] leading-[40px] lg:leading-[80px] font-bold max-w[604px]">Our unique solutions for Fintech industry</p>
        <p class="leading-6">Location and address verification is vital for business and for personal use. ATOKA gives you the power to get to the place your goods and services need to be and you need to see</p>
        <app-button buttonText="Get Started"  buttonStyles="w-[200px] bg-[#584E95] text-white mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/fintech-1.png" alt="" class="w-full">
      </div>
    </div>
  </div>
  <!--  -->
  <div class="py-10 lg:py-20 landing-padding-x !bg-white">
    <p class="flex justify-center mx-auto font-bold text-2xl lg:text-4xl max-w-[850px] text-center leading-[43.21px]">ATOKA has helped different Fintech company build a business decision</p>

   <div class="grid lg:grid-cols-2 gap-4 lg:gap-6 py-10">
    <div class="lg:py-14">
      <img src="assets/images/fintech-2.png" alt="">
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4 justify-center">
        <div>
          <img src="assets/images/easy.svg" alt="">
        </div>
        <p class="text-2xl font-semibold">Easy online student registration</p>
        <p>We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
      </div>
      <div class="flex flex-col gap-4 justify-center">
        <div>
          <img src="assets/images/easy.svg" alt="">
        </div>
        <p class="text-2xl font-semibold">Easy online student registration</p>
        <p>We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
      </div>
      <div class="flex flex-col gap-4 justify-center">
        <div>
          <img src="assets/images/easy.svg" alt="">
        </div>
        <p class="text-2xl font-semibold">Easy online student registration</p>
        <p>We work with insurance companies to provide a reliable, cost effective solution for address lookups, both on internal systems and on ecommerce sites.</p>
      </div>
    </div>
   </div>
  </div>
  <!--  -->
  <div class="landing-padding-x !bg-white">
    <div class="flex flex-col gap-4 justify-center items-center">
      <p class="text-[#003A50] font-semibold text-3xl lg:text-[48px]">How it works</p>
      <p>See how you can improve your Address verification system with a single demo</p>
    </div>
    <div class="flex flex-col lg:flex-row py-10 justify-center">
      <div class="py-8">
        <img src="assets/images/green-address.png" alt="" class="w-full">
      </div>
      <div class="hidden lg:flex justify-center items-center">
        <img src="assets/images/arrow.png" alt="" class="w-full">
      </div>
      <div>
        <img src="assets/images/black-address.png" alt="" class="">
      </div>
    </div>
  </div>
</div>
