<div class="">
  <div class="hero lg:h-[calc(100vh-80px)] bg-[#FBFAF8] landing-padding-x">
    <div class="grid lg:grid-cols-[45%_55%] gap-4">
      <div class="flex flex-col gap-4 justify-center">
        <div class="rounded-lg bg-[#F7EFE03B] py-2 flex justify-center w-[212px]">
          <p class="font-extrabold whitespace-nowrap text-[#DA7B07] text-sm tracking-[0.15em]">Email verification</p>
        </div>
        <p class="text-3xl md:text-[48px] text-[#005677] leading-[40px] md:leading-[60px] font-extrabold lg:w-[654px]">Accurately Verify your Address in Nigeria</p>
        <p class="md:w-[542px] lg:w-[654px] lg:text-[18px]">Location and address verification is vital for business and for personal use. ATOKA gives you the power to get to the place your goods and services need to be and you need to see</p>
        <app-button buttonText="Get Started" buttonStyles="w-[200px] mt-4"></app-button>
      </div>
      <div>
        <img src="assets/images/email-verification-1.svg" alt="">
      </div>
    </div>
  </div>
  <!-- two -->
  <div class="location landing-padding-x py-5 lg:py-20 bg-white">
    <p class="flex justify-center mx-auto leading-[43.21px] font-semibold text-2xl lg:text-4xl lg:w-[780px] items-center text-center">Superior Technology For Quality Assurance and accurate verification</p>
    <div class="flex flex-col gap-4 lg:gap-10 py-10 my-5">
      <div class="flex justify-center lg:py-5">
        <div class="grid md:grid-cols-2 gap-4 lg:gap-10 lg:place-items-center">
          <div>
            <img src="assets/images/product-3.png" alt="">
          </div>
          <div class="flex flex-col gap-4 lg:gap-6 justify-center">
            <div>
              <img src="assets/images/easy.svg" alt="">
            </div>
            <p class="text-xl lg:text-4xl font-semibold md:w-[250px] lg:w-[457px] leading-[30px] md:leading-[43.21px]">Reduced address entry times and errors</p>
            <p class="md:w-[468px]">The system combines global standardization with the flexibility to accommodate regional variations, enabling organizations to deploy address verification solutions that work within their existing infrastructure.</p>
          </div>
        </div>
      </div>
      <div class="flex justify-center lg:py-5">
        <div class="grid md:grid-cols-2 gap-4 lg:gap-10 lg:place-items-center">
          <div class="flex flex-col gap-4 lg:gap-6 justify-center">
            <div>
              <img src="assets/images/purple-map.svg" alt="">
            </div>
            <p class="text-xl lg:text-4xl font-semibold md:w-[250px] lg:w-[457px] leading-[30px] md:leading-[43.21px]">Reduced address entry times and errors</p>
            <p class="md:w-[468px]">Our expertise in address verification ensures accurate customer data at every point, from capture in your web and epos forms to cleansing and verifying address data in your internal systems.</p>
          </div>
          <div>
            <img src="assets/images/product-4.png" alt="">
          </div>
        </div>
      </div>
      <div class="flex justify-center lg:py-5">
        <div class="grid md:grid-cols-2 gap-4 lg:gap-10 lg:place-items-center">
          <div>
            <img src="assets/images/product-5.png" alt="">
          </div>
          <div class="flex flex-col gap-4 lg:gap-6 justify-center">
            <div>
              <img src="assets/images/deploy.svg" alt="">
            </div>
            <p class="text-xl lg:text-4xl font-semibold text-[#AF6E26] leading-[30px] md:leading-[43.21px]">Flexible deployment</p>
            <p class="md:w-[468px]">We work with companies who have a small online presence, right up to enterprise level business who have a presence on every continent so we offer deployment options to suit you - on-premise, via the cloud or even private cloud.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
